beautifulsoup4==4.14.2
bs4==0.0.2
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
IProgress==0.4
ipykernel==6.29.5
ipython==9.6.0
joblib==1.5.2
langchain==0.3.27
langchain-core==0.3.79
langchain-ollama==0.3.10
langgraph==0.6.10
lxml==6.0.2
MarkupSafe==3.0.3
notebook==7.4.3
ollama==0.6.0
python-box==6.0.2
PyYAML==6.0.2
requests==2.32.5
tenacity==9.1.2
terminado==0.18.1
tinycss2==1.4.0
tokenizers==0.22.1
torch==2.9.0
torchaudio==2.9.0
torchvision==0.24.0
tornado==6.5.2
tqdm==4.67.1
transformers==4.57.1
typeguard==4.4.4
types-PyYAML==6.0.12.20250516
yfinance==0.2.66
-e.